<!DOCTYPE html>
<html>
  <head>
    <title>FlickrImageSearch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1 class="header">Flickr Search Bar</h1>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"> <%= value %> </div>
    <% end %>
    <%= yield %>
  </body>
</html>
